name: PullRequest

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  buildMac:
    name: Build macOS
    runs-on: ${{ matrix.macos }}
    strategy:
      fail-fast: false
      matrix:
        macos: [ macos-13 ]
        abi: [ x86 ]
        xcode: [ Xcode_15.2 ]
        include:
          - macos: macos-14
            abi: arm64
            xcode: Xcode
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Investigate available XCode versions
        run: ls -n /Applications/ | grep Xcode*
      - name: Set XCode Version
        run: |
          sudo xcode-select -s /Applications/${{ matrix.xcode }}.app
          xcodebuild -version
          xcode-select --print-path
      - name: Install build environment
        run: scripts/darwin/install.sh
      - name: Show cmake version
        run: cmake --version
      - name: Build project
        run: scripts/darwin/build_cmake.sh
      - name: Artifact Creation
        run: |
          cd /Users/runner/work/dlt-viewer/dlt-viewer/build
          mkdir -p dist
          cp ../scripts/darwin/install.md dist
          tar -czvf "dist/DLTViewer.tgz" -C /Users/runner/work/dlt-viewer/dlt-viewer/build/install .
      - name: Archive artifact
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: DLTViewer-${{ matrix.macos }}-${{ matrix.abi }}
          path: build/dist/DLTViewer*.tgz


