name: PullRequest

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  buildMac:
    name: Build macOS
    runs-on: ${{ matrix.macos }}
    strategy:
      fail-fast: false
      matrix:
        macos: [ macos-13 ]
        xcode: [ Xcode_15.2 ]
        include:
          - macos: macos-14
            xcode: Xcode
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Investigate available XCode versions
        run: ls -n /Applications/ | grep Xcode*
      - name: Set XCode Version
        run: |
          sudo xcode-select -s /Applications/${{ matrix.xcode }}.app
          xcodebuild -version
          xcode-select --print-path
      - name: Install build environment
        run: scripts/darwin/install.sh
      - name: Show cmake version
        run: cmake --version
      - name: Build project
        run: scripts/darwin/build.sh

      - name: Codesign app bundle
        # Extract the secrets we defined earlier as environment variables
        env: 
          MACOS_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
          MACOS_CERTIFICATE_PWD: ${{ secrets.P12_PASSWORD }}
          MACOS_CERTIFICATE_NAME: ${{ secrets.APPLE_CERTIFICATE_NAME }}
          MACOS_CI_KEYCHAIN_PWD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # Turn our base64-encoded certificate back to a regular .p12 file
          
          echo $MACOS_CERTIFICATE | base64 --decode > certificate.p12
          # We need to create a new keychain, otherwise using the certificate will prompt
          # with a UI dialog asking for the certificate password, which we can't
          # use in a headless CI environment
          
          security create-keychain -p "$MACOS_CI_KEYCHAIN_PWD" build.keychain 
          security default-keychain -s build.keychain
          security unlock-keychain -p "$MACOS_CI_KEYCHAIN_PWD" build.keychain
          security import certificate.p12 -k build.keychain -P "$MACOS_CERTIFICATE_PWD" -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "$MACOS_CI_KEYCHAIN_PWD" build.keychain
      
          # We finally codesign our app bundle, specifying the Hardened runtime option
          /usr/bin/codesign --force -s "$MACOS_CERTIFICATE_NAME" --options runtime /Users/runner/work/dlt-viewer/dlt-viewer/build/install/DLTViewer.app -v



          - name: "Notarize app bundle"
            # Extract the secrets we defined earlier as environment variables
            env:
              PROD_MACOS_NOTARIZATION_APPLE_ID: ${{ secrets.APPLE_ID }}
              PROD_MACOS_NOTARIZATION_TEAM_ID: ${{ secrets.PTEAM_ID }}
              PROD_MACOS_NOTARIZATION_PWD: ${{ secrets.APP_PASSWORD }}
            run: |
              # Store the notarization credentials so that we can prevent a UI password dialog
              # from blocking the CI
          
              echo "Create keychain profile"
              xcrun notarytool store-credentials "notarytool-profile" --apple-id "$PROD_MACOS_NOTARIZATION_APPLE_ID" --team-id "$PROD_MACOS_NOTARIZATION_TEAM_ID" --password "$PROD_MACOS_NOTARIZATION_PWD"
          
              # We can't notarize an app bundle directly, but we need to compress it as an archive.
              # Therefore, we create a zip file containing our app bundle, so that we can send it to the
              # notarization service
          
              echo "Creating temp notarization archive"
              ditto -c -k --keepParent "/Users/runner/work/dlt-viewer/dlt-viewer/build/install/DLTViewer.app" "/Users/runner/work/dlt-viewer/dlt-viewer/build/install/DLTViewer.zip"
          
              # Here we send the notarization request to the Apple's Notarization service, waiting for the result.
              # This typically takes a few seconds inside a CI environment, but it might take more depending on the App
              # characteristics. Visit the Notarization docs for more information and strategies on how to optimize it if
              # you're curious
          
              echo "Notarize app"
              xcrun notarytool submit "notarization.zip" --keychain-profile "notarytool-profile" --wait
          
              # Finally, we need to "attach the staple" to our executable, which will allow our app to be
              # validated by macOS even when an internet connection is not available.
              echo "Attach staple"
              xcrun stapler staple "/Users/runner/work/dlt-viewer/dlt-viewer/build/install/DLTViewer.app"

          

      - name: Archive artifact
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: DLTViewer-${{ matrix.macos }}-x86_64
          path: build/dist/DLTViewer*.tgz


